<footer>
    <div class="info">
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="company">&copy;Replica Private Limited</div>
        <div class="links">
            <a href="/privacy">Privacy</a><br>
            <a href="/terms">Terms and Condition</a>

        </div>
    </div>

</footer>